# Maven Files #
*.class
target



# Eclipse files #
.settings
.classpath
.project

# IntelliJ files #
.idea
local.properties
*.iml
out
lib

# Misc #
tomcat
logs
data

# Mac OS Files #
.DS_Store

# H2 #
*.db